beautifulsoup4==4.12.2
clarifai-grpc>=1.44.0
clarifai==2.6.2
emoji==1.7
instapy
pillow==10.1.0
plyer==2.1.0
python-dotenv==1.0.0
pytz==2024.2
pyvirtualdisplay==3.0
pyyaml==6.0.1
requests
selenium==4.9.1
typing-extensions>=4.8.0
webdriver-manager==4.0.1
